/* Importe Tailwind CSS */
@import "tailwindcss";

/* Active le mode sombre via l'attribut data-theme="dark" */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --color-cream: #F8F1E7;

  --color-bg-light: #F8F1E7;
  --color-primary-light: #5B0F18;
  --color-accent-light: #D8A7A7;
  --color-text-light: #000000;

  --color-bg-dark: #00072d;
  --color-primary-dark: #1B314C;
  --color-accent-dark: #789ACA;
  --color-text-dark: #F8F1E7;

  --color-sidebar-dark: #3C5E82;
  --color-title-light: #7A1F2B;
  --color-title-dark: #F8F1E7;
}

/* Expose les variables à Tailwind */
@theme inline {
  /* Couleurs */
  --color-cream: var(--color-cream);
  --color-primary-light: var(--color-primary-light);
  --color-accent-light: var(--color-accent-light);
  --color-bg-light: var(--color-bg-light);
  --color-text-light: var(--color-text-light);

  --color-primary-dark: var(--color-primary-dark);
  --color-accent-dark: var(--color-accent-dark);
  --color-bg-dark: var(--color-bg-dark);
  --color-text-dark: var(--color-text-dark);

  --color-sidebar-dark: var(--color-sidebar-dark);
  --color-title-light: var(--color-title-light);
  --color-title-dark: var(--color-title-dark);

  /* Police */
  --font-heading: var(--font-inter);
  --font-body: var(--font-inter);
}

/* Police par défaut */
body {
  font-family: var(--font-inter), sans-serif;
}